@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY();
    }
    45% {
        opacity: 0;
        transform: translateY();
    }
    to {
        opacity: 1;
        transform: translateY();
    }
}
