.nuvu-logo {
	height: 120px !important;
	margin: 20px;
}

.control-panel {
	margin: 20px;
}

.cut-form-group * {
	display: inline !important;
	width: 172px !important;
}

form input, form select {
	margin-bottom: 15px;
	width: 250px;
}