.nuvu-logo {
	max-height: 80px;
	max-width: 80vw;
	margin: 3%;
	@media (max-width: 690px) {
		display: block;
		width: 240px !important;
		margin: 45px auto 20px;
	}
}

.control-panel {
	margin: 20px;
	display: inline-block;
}

.cut-form-group * {
	display: inline;
	width: 172px;
}

form input, form select {
	margin-bottom: 15px;
	width: 250px;
}

.form-control {
	box-shadow: none !important;
	&:focus {
		border-color: $nuvu-pink;
	}
}