.cutting-table-header td {
	border: none;
	font-size: 1.3em;
	background: $nuvu-pink;
	color: white;
}

td {
	text-align: center;
}

.cutting-table tr:not(.table-first-row) td:nth-child(1), .cutting-table tr:not(.table-first-row) td:nth-child(1) * {
	user-select: none;
}

.cutting-table tr:last-child td:nth-child(1) .lower-priority {
	display: none;
}

.coach-modified {
	color: $nuvu-pink;
	transition: transform 1.5s ease-in-out;
	&:hover { transform: rotate(1080deg) scale(1.5); }
}