@import "variables";


@import "header";
@import "table";

form input, form select {
	margin-bottom: 15px;
	width: 250px;
}

.btn {
	outline: none !important;
}

.glyphicon-remove, .glyphicon-triangle-bottom {
	cursor: pointer;
	transition: transform 0.1s linear;
	&:hover { transform: scale(1.2); }
	&:active { transform: scale(0.9); }
}

.glyphicon-remove {
	color: firebrick;
	&:hover { color: darken(firebrick, 10%); }
	&:active { color: darken(firebrick, 25%); }
}

.cut-form-group * {
	display: inline !important;
	width: 172px !important;
}

#cut-material, #priority-dropdown {
	width: 172px;
}

@import "log";

.new-cut-form {
	float: right;
}

::selection {
	background: rgba(245, 71, 153, 1);
	color: white;
}

@import "scrollbar";

@import "prism";
