@import "variables";
@import "animations";

@import "a";
@import "header";
@import "table";

.btn {
	outline: none !important;
}

#cut-material, #priority-dropdown {
	width: 172px;
}

@import "log";

::selection {
	background: rgba(245, 71, 153, 1);
	color: white;
}

* {
	transition: width 0.7s ease-in-out, height 0.7s ease-in-out, padding 0.7s ease-in-out, margin 0.7s ease-in-out, position 0.7s ease-in-out, display 0.7s ease-in-out;
}

body { animation: fadeIn 1 0.8s linear; }

@import "scrollbar";

@import "prism";
